.book-list__table {
    text-align: left;
    border-collapse: collapse;
    margin-top: 30px;
    width:100%;
}

.book-list__table td,
.book-list__table th {
    border: 1px solid #000;
    padding: 5px;
    min-width: 80px;
}

.book-list__table img {
    width:200;
    height:auto;
}